footer{
    .footer-section{
        display: grid;
        grid-template-columns: 50% 50%;       
        
        background-color: $color2;
        color: rgb(86, 83, 83);
        width: 80%;
        margin: 0 auto;
        padding: 40px 5px;
        
        .form-contact{
                      
            form{                
                width: 80%;              
                .name, .email, .message{ 
                    display: grid;                    
                    text-align: left;                   
                    padding: 20px 20px;                    
                    label{
                        text-transform: uppercase;
                        font-size: 0.8rem;
                        font-weight: bold;
                        margin-bottom: 10px;
                        height: 20px;
                    }
                    input{
                        margin: 0;
                        height: 40px;
                    }
                }
                button{
                    width: 50%;                    
                    color: rgb(86, 83, 83);
                    margin: 40px 20px;                  
                    
                }
                .name{
                    grid-area: a1;
                }

            }
             
        }
        .contact{
             display: grid;
             position: relative;
            .adress, .phone, .email, .social{
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: flex-start;
                height: 50px;
                &::after{
                    content: "";
                    width: 25%;
                    height: 1px;
                    background: rgba(165, 161, 161, 0.316);
                    position: absolute;
                }
                p{
                    display: flex;
                    justify-content: left;
                }
                ul{
                    width: 60%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            } 
        }
    }
}