// polices
@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}

// variables
$font1 : inter-bold, sans-serif;
$font2 : merriweather, serif;
$white1 : rgba(243, 243, 243);
$grey1 : rgb(209, 209, 209);
$grey2: rgb(233, 233, 233);
$grey3: rgb(105,105,105);
$black1 : rgb(17,17,17);

//mixins
@mixin centerUniqueElement{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin title{
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}


// paramètres généraux
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $font2;    
    background: url('../images/bg.jpg') center/cover fixed;    
    min-height:100vh;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto; 
    
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black1;
        animation: animBefore 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefore {
            to{
                opacity: 0;
            }
        }
    }
}

li{
    list-style: none;
}

a, a:visited{
    color: $white1;
}

p{
    font-family: $font2;
}

button{
    background: none;
    border: 2px solid $black1;
    height: 45px;
    width: 170px;
    cursor: pointer;
    @include title;
    transition: 0.2s;
    margin: 40px 0;
   
    &:hover{
        background: black;
        color: $white1;
        transform: scale(1.05);
    }
}

